/* commont */

@import "variables";

body{
	margin:0;
	padding:0;
	font-family:"メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
}
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
table,
th,
td,
ul,
dl,
form,
input,
textarea,
select,
option,
optgroup,
button,
a,
sup{
	box-sizing:border-box;
	margin:0;
	padding:0;
	color:$black;
	font-size:14px;
	font-family:"メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
	font-weight:normal;
	line-height:1.4;
	-moz-appearance:none;
	-ms-appearance:none;
	-webkit-appearance:none;
	appearance:none;
}
dev,
span,
section,
article,
li,
dt,
dd{
	box-sizing:border-box;
}
li{
    list-style:none;
}
table{
    border-collapse:collapse;
}
a{
	color:$a;
        &:hover{
        color:$a_hover;
    }
}
sup{
    font-size:0.6em;
}
.textCenter{
    text-align:center;
}
.textLeft{
    text-align:left;
}
.textRight{
    text-align:right;
}
.red{
    color:$red;
    vertical-align:length;
}
img{
	border:none;
	vertical-align:bottom;
}
.pc,
.pd,
.sp{
	display:none;
}
.pc{
	@media screen and (min-width:$pc_min){
		display:inherit;
	}
}
.pcpd{
    @media screen and (min-width:$pd_min){
        display:inherit;
    }
    @media screen and (max-width:$sp_max){
        display:none;
    }
}
.pd{
	@media screen and (max-width:$pd_max){
		display:inherit;
	}
}
.sp{
	@media screen and (max-width:$sp_max){
		display:inherit;
	}
}
.width100{
	width:100%;
}
.clearfix{
	zoom:100%;
}
.clearfix:after{
	display:block;
	content:".";
	margin:0;
	padding:0;
	height:0;
	font-size:0;
	line-height:0;
	visibility:hidden;
	clear:both;
}
.impactValue{
    font-weight:bold;
}
.noWrap{
    white-space:nowrap;
}
.content{
	@include contentWidth;
	padding:10px;
}

.breadcrumb{
    .listBreadcrumb{
        @include contentWidth;
        li{
            display:block;
            font-size:14px;
            white-space:nowrap;
            float:left;
            &:after{
                content:">";
                padding:0 10px;
            }
            &:last-child:after{
                content:"";
            }
            a{
                text-decoration:none;
            }
        }
    }
}
