/* _variablesIacsicc */

// mediaquery
$pc_width:1200px;
$pc_min:1199px;
$pd_max:820px;
$pd_min:641px;
$sp_max:640px;

// color
$txt:#1d1d1d;
$red:#d20012;
$orange:#f19931;
$green:#40b4a7;
$blue:#3899c3;
$yellow:#fec400;
$mugi:#dbb14c;
$lightGray:#f3f3f3;
$darkGray:#464545;
$gray:#acacac;


