/* _variables */

// color
$black:#000000;
$white:#ffffff;
$a:#2980c3;
$a_hover:#61a6da;

$default_color:(
	black:#000000,
	white:#ffffff,
	a:#2980c3,
	a_hover:#61a6da,
);

//ベンダープレフィックス
@mixin vp($property, $value) {
	@each $prefix in -moz-, -ms-, -webkit-, '' {
		#{$prefix}#{$property}: $value;
	}
}

@mixin alp80{
    filter:alpha(opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;
}
@mixin displayFlex{
	display:-moz-flex;
	display:-ms-flex;
	display:-webkit-flex;
	display:flex;
}

//content
@mixin contentWidth{
	box-sizing:border-box;
	width:100%;
	max-width:$pc_min;
	margin:0 auto;
    @media screen and (max-width:$pd_max){
        padding:0 10px;
    }
}


